[Unit]
Description=Weight Challenge API
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/path/to/your/app
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=default.target 